/**
 * Plugin page styles
 */

#mp-install {
	max-width: 640px;

	.closed {
		.inside {
			display: block !important;
		}
	}

	.mpi-field-toggle {
		margin-top: 1em;
		text-align: right;

		a {
			text-decoration: none;
			font-weight: 700;

			@supports( font-variation-settings: normal ) {
				font-weight: 550;
			}

			&:not( :last-of-type ) {
				margin-right: 0.5em;
			}
		}
	}

	.mpi-meta-box {
		margin-top: 1em;
		min-width: 600px;
	}

	.list-install-buttons {
		margin-top: 1em;

		input[type="submit"] {
			&:not( :last-of-type ) {
				margin-right: 0.5em;
			}
		}
	}

	.mpi_left {
		float: left;
	}

	.mpi_clear {
		clear: both;
	}

	.mpi_error {
		margin-top: 1em;
		padding: 2rem;
		font-weight: 700;
		border: solid 2px #dd0000;

		h2 {
			margin-top: 0;
		}

		@supports( font-variation-settings: normal ) {
			font-weight: 550;
		}
	}

	.postbox{

		.hndle {
			cursor: default;
		}
	}

	p.found {
		color: #44aa11;
	}

	p.not-found {
		color: #dd0000;
	}

	#icon-mpinstaller{
		display:none;
	}

	.mpi_h3 {
		margin: 1em 0;
		padding-bottom: 0.5em;
		border-bottom: 1px solid #cccccc;
	}

	.mpi_act {
		color: #44aa11;
	}

	table.mpi_files {
		width: 100%;
		text-align: center;
		font-size: 11px;
		border: solid 1px #888888;
		border-collapse: collapse;

		th,
		td {
			padding: 0.5em;
			border: solid 1px #888888;
			vertical-align: middle;
		}

		td {
			font-family: SFMono-Regular, 'Menlo', 'Consolas', 'Roboto Mono', 'Ubuntu Monospace', 'Noto Mono', 'Oxygen Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
		}
	}

	#mpi_wplists {
		width: 100%;
		margin-top: 1em;
		border: 1px solid #888888;
	}

	a {

		&.expfile {
			display: inline-block;
			text-decoration: none;

			.dashicons {
				width: auto;
				height: auto;

				&:before {
					font-size: 1.5em;
				}
			}
		}

		&.mpi_plugbkup {
			display: inline-block;
			margin: 1em 0;
			font-weight: 700;

			@supports( font-variation-settings: normal ) {
				font-weight: 550;
			}
		}
	}
}

#mpi-expand,
#mpi-collapse{
	outline: none;
}

.rtl {

	#mp-install {

		.mpi-field-toggle {
			text-align: left;

			a {
				&:not( :last-of-type ) {
					margin: 0 0 0 0.5em;
				}
			}
		}
	}
}
