/**
 * Plugin page styles
 */
#mpiblock {
  max-width: 640px;
}

#mpiblock .mpi-field-toggle {
  margin-top: 1em;
}

#mpiblock .mpi-field-toggle a {
  text-decoration: none;
  font-weight: 700;
}

@supports (font-variation-settings: normal) {
  #mpiblock .mpi-field-toggle a {
    font-weight: 550;
  }
}

#mpiblock .mpi-field-toggle a:not(:last-of-type) {
  margin-right: 0.5em;
}

#mpiblock .mpi-meta-box {
  margin-top: 1em;
  min-width: 600px;
}

#mpiblock .list-install-buttons {
  margin-top: 1em;
}

#mpiblock .list-install-buttons input[type="submit"]:not(:last-of-type) {
  margin-right: 0.5em;
}

#mpiblock .mpi_left {
  float: left;
}

#mpiblock .mpi_clear {
  clear: both;
}

#mpiblock .mpi_error {
  background: none repeat scroll 0 0 #dd0000;
  color: #ffffff;
  margin-top: 1em;
  padding: 0.5em;
}

#mpiblock .postbox {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

#mpiblock p.found {
  height: 24px;
  padding-left: 30px;
  padding-top: 3px;
  background: url("../images/found.gif") no-repeat scroll 0 0 transparent;
  color: #44aa11;
  font-size: 12px;
}

#mpiblock p.not-found {
  height: 23px;
  padding-left: 30px;
  padding-top: 3px;
  background: url("../images/not-found.png") no-repeat scroll 0 0 transparent;
  color: #dd0000;
  font-size: 12px;
}

#mpiblock #icon-mpinstaller {
  display: none;
}

#mpiblock h2 {
  display: none;
}

#mpiblock .mpi_h3 {
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cccccc;
  text-transform: capitalize;
}

#mpiblock .mpi_act {
  color: #44aa11;
}

#mpiblock table.mpi_files {
  width: 100%;
  text-align: center;
  font-family: verdana,arial,sans-serif;
  font-size: 11px;
  border: solid 1px #888888;
  border-collapse: collapse;
}

#mpiblock table.mpi_files th,
#mpiblock table.mpi_files td {
  padding: 0.5em;
  border: solid 1px #888888;
}

#mpiblock #mpi_wplists {
  width: 100%;
  margin-top: 1em;
  border: 1px solid #888888;
}

#mpiblock a.mpi_filedwn {
  background: url("../images/download.png") no-repeat scroll 0 0 transparent;
}

#mpiblock a.mpi_trashdwn {
  position: relative;
  top: -1px;
  background: url("../images/trash.png") no-repeat scroll 0 0 transparent;
}

#mpiblock a.expfile {
  display: block;
  width: 24px;
  height: 23px;
  margin: 0 auto;
  outline: medium none;
}

#mpiblock a.mpi_plugbkup {
  display: inline-block;
  margin: 1em 0;
  font-weight: 700;
}

@supports (font-variation-settings: normal) {
  #mpiblock a.mpi_plugbkup {
    font-weight: 550;
  }
}

#mpi-expand,
#mpi-collapse {
  outline: none;
}

.rtl #mpiblock .mpi-field-toggle a:not(:last-of-type) {
  margin: 0 0 0 0.5em;
}
